@import url('https://fonts.googleapis.com/css2?family=Shorai+Sans:wght@400;500;700&display=swap');

body {
  font-family: 'Shorai Sans', sans-serif;
}
html, body, #root {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}
